<div id="map"></div>
<div id="status">
  <div id="placeholder"></div>
</div>
<div id="nav">
  <h1>Header 1</h1>
  <h2>Header 2</h2>
  <h3>Header 3</h3>
  <h4>Header 4</h4>
</div>
<canvas id="compass">
  <p>Heading: NNW</p>
</canvas>
<script type="text/javascript">
    var icons = {
      base: {
        icon: 'https://maps.google.com/mapfiles/kml/shapes/' + 'schools_maps.png'
      },
      user: {
        icon: 'http://wprk.koding.io:9000/#/images/map/' + 'man.png'
      }
    };
    
    var map;
    
    var style = [
        {stylers: [{ saturation: "-100" }, { lightness: "20" }]},
        {featureType: "poi", stylers: [{ visibility: "off" }]},
        {featureType: "transit", stylers: [{ visibility: "off" }]},
        {featureType: "road", stylers: [{ lightness: "50" }, { visibility: "on" }]},
        {featureType: "landscape", stylers: [{ lightness: "50" }]}
    ];
    
    var options = {
        zoom: 17,
        center:  new google.maps.LatLng(52.481305, -1.898620),
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        disableDefaultUI: true
    };
    
  
    function addMarker(position, type) {
        var marker = new google.maps.Marker({
            position: position,
            icon: icons[type].icon,
            map: map
        });
    }
    
    function mapInitialize() {
    
        map = new google.maps.Map($('#map')[0], options);
        map.setOptions({
            styles: style
        });
        
        addMarker(map.getCenter(), 'user');
        addMarker(map.getCenter(), 'base');
    
    }
  
    mapInitialize();
</script>
  
<script type="text/javascript">

  var latitude;
  var longitude;
  var accuracy;

  function loadLocation() {

  if(navigator.geolocation) {
  document.getElementById("status").innerHTML = "HTML5 Geolocation is supported in your browser.";
  document.getElementById("status").style.color = "#1ABC3C";

  if($.cookie("posLat")) {
  latitude = $.cookie("posLat");
  longitude = $.cookie("posLon");
  accuracy = $.cookie("posAccuracy");
  document.getElementById("status").innerHTML = "Location data retrieved from cookies. <a id=\"clear_cookies\" href=\" javascript:clear_cookies();\" style=\"cursor:pointer; margin-left: 15px;\"> clear cookies</a>";
  updateDisplay();

  } else {
  navigator.geolocation.getCurrentPosition(
  success_handler,
  error_handler,
  {timeout:10000});
  }
  }
  }

  function success_handler(position) {
  latitude = position.coords.latitude;
  longitude = position.coords.longitude;
  accuracy = position.coords.accuracy;

  if (!latitude || !longitude) {
  document.getElementById("status").innerHTML = "HTML5 Geolocation supported, but location data is currently unavailable.";
  return;
  }

  updateDisplay();

  $.cookie("posLat", latitude);
  $.cookie("posLon", longitude);
  $.cookie("posAccuracy", accuracy);

  }

  function updateDisplay() {
  document.getElementById("status").innerHTML = "HTML5 Geolocation is supported in your browser. " + latitude + ', ' + longitude;
  }


  function error_handler(error) {
  var locationError = '';

  switch(error.code){
  case 0:
  locationError = "There was an error while retrieving your location: " + error.message;
  break;
  case 1:
  locationError = "The user prevented this page from retrieving a location.";
  break;
  case 2:
  locationError = "The browser was unable to determine your location: " + error.message;
  break;
  case 3:
  locationError = "The browser timed out before retrieving the location.";
  break;
  }

  document.getElementById("status").innerHTML = locationError;
  document.getElementById("status").style.color = "#D03C02";
  }

  function clear_cookies() {
  $.cookie('posLat', null);
  document.getElementById("status").innerHTML = "Cookies cleared.";
  }

</script>
